.image {
    object-fit: contain;
    height: 700px;
    width: auto;
}

.box {
    background-image: url('../assets/valentine.jpg');
    height: 900px;
}





.thumbs-wrapper {
    display: none;
}

.carousel-root {
    height: 800px;
}

@media only screen and (max-width: 600px) {
    .image {
        height: 500px;
    }
    .box {
        height: 650px;
    }
    .carousel-root {
        height: 650px;
    }
  }