.gallery {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.App {
  background-image: url('./assets/valentine.jpg');
  height: 140vh;
}

@media only screen and (max-width: 600px) {
  .App {
    height: 180vh;
  }
}
